<div class="main portfolio">
   <div class="jumbotron slideshow">
      <div class="slideshow-container">
         <ul>
            <li>
               <div class="slide"><%= image_tag "https://photos-4.dropbox.com/t/2/AAAFJzfW9Ag4MxRQHF_rpJ7C25tHcc4zHDLTAgEMn24fBQ/12/232995043/jpeg/32x32/1/_/1/2/night-trail-grass-trees-60465.jpeg/ELvnl8cBGO0HIAIoAg/k6soQ4Y5gSVgM5PUoo6TO2ILEFgYYbFJSo8lGyYpHcE?size=1600x1200&size_mode=3"%></div>
            </li>
            <li>
               <div class="slide"><%= image_tag "https://photos-2.dropbox.com/t/2/AAD111NP7rBQpF9e9tQwmhkDBiHs_ZwclBkqV46g3lhpfg/12/232995043/jpeg/32x32/1/_/1/2/nature-branches-leaf-leaves.jpg/ELvnl8cBGO0HIAIoAg/Y05BjakTBrJPeWotcdhnOEAsHlqnrRglb0sqi7-ELRM?size=1600x1200&size_mode=3"%></div>
            </li>
            <li>
               <div class="slide"> <%= image_tag "https://photos-5.dropbox.com/t/2/AACM-KVCqqkvgMl1-96QWXau-6Gnl9JvCB-QygLSYgeIaQ/12/232995043/jpeg/32x32/1/_/1/2/moon.jpg/ELvnl8cBGO0HIAIoAg/s38HX1-a1Yfa3Gy_V-X-5P0L7GPWazVKSVo3lK9Niv0?size=1600x1200&size_mode=3"%></div>
            </li>
            <li>
               <div class="slide"><%= image_tag "https://photos-6.dropbox.com/t/2/AAC7nXQHoNDNGP9L2LOjuLIn1Nben0gs_IS9qOSNOlvl4w/12/232995043/jpeg/32x32/1/_/1/2/photo-1444703686981-a3abbc4d4fe3.jpeg/ELvnl8cBGO0HIAIoAg/nKnA2s8dwRVYOnz6CrFtcY1cNhBk2R5KbKlhroZlXW8?size=1600x1200&size_mode=3"%></div>
            </li>
            <li>
               <div class="slide"><%= image_tag "https://photos-6.dropbox.com/t/2/AAAIPYf-qbs3iS-aowqnyRx0jXsVtypjwJzh0Hn9VewS9g/12/232995043/jpeg/32x32/1/_/1/2/lights-night-dark-abstract.jpeg/ELvnl8cBGO0HIAIoAg/uxdDrTPsbOMN3LLmqaoJLyvRScQjtHIbzB0_8wcV3mM?size=1600x1200&size_mode=3"%></div>
            </li>
         </ul>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"><%= image_tag "https://photos-5.dropbox.com/t/2/AAAi5FC_4PTd2utecUWf4_CLVInvObptUDeS1eC3aD6URg/12/232995043/jpeg/32x32/1/_/1/2/food-salad-healthy-lunch.jpg/ELvnl8cBGO0HIAIoAg/F65NXDS-slMSZYR1OIRMK8AC0o0dXtI60A_GM700K1g?size=1600x1200&size_mode=3" %></div>
            <h3>TravelGo’s Booking App</h3>
            <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p>
         </a>
         <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag "https://photos-6.dropbox.com/t/2/AADOO81lmNwGr8JdHhI_p9VywER14wOCJ9lS5p7dWvhWjA/12/232995043/jpeg/32x32/1/_/1/2/forest-meadow-leaves-autumn.jpg/ELvnl8cBGO0HIAIoAg/R0jnX13Y1OKVYESNy6y4IFTLXOS4eByBPFIgW9tPKCo?size=1600x1200&size_mode=3" %></div>
            <h3>Breather’s Reservation Site</h3>
            <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p>
         </a>
      </div>
      <div class="row">
         <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag "https://photos-1.dropbox.com/t/2/AAAcLcWqfnrHF1sN4QsfLmIZruMEm3Q7X9jjGLNUIVYZTg/12/232995043/jpeg/32x32/1/_/1/2/car.jpeg/ELvnl8cBGO0HIAIoAg/tlSN1ToMx6d8WgbTjKcfzb8khfhuBZ7HPO-H8uwkXV8?size=1600x1200&size_mode=3" %> </div>
            <h3>EnVogue Events’ Portfolio</h3>
            <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p>
         </a>
         <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag "https://photos-3.dropbox.com/t/2/AADnx-8Uw31r2wuApdwLMqv2-_vWYGYrYcrymgQS8MBpmg/12/232995043/jpeg/32x32/1/_/1/2/city-landmark-lights-night.jpg/ELvnl8cBGO0HIAIoAg/ru0wNXWBHR4Niv0s_GO-Jz3Zv5yvq_sSf82YfQOPbWE?size=1600x1200&size_mode=3" %> </div>
            <h3>Gauntlet Gallery</h3>
            <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p>
         </a>
      </div>
      <div class="row">
         <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag "https://photos-5.dropbox.com/t/2/AAATEAqa30znArdFMrBlR2OdKVqDbooHm7vRkNVWKvfVFg/12/232995043/jpeg/32x32/1/_/1/2/flat.jpg/ELvnl8cBGO0HIAIoAg/sv0_TX0dpFZB-VCX51GMdmH_TaZdwDmg2UzPVw0BZTs?size=1600x1200&size_mode=3" %> </div>
            <h3>Koi Pond Online Visitors Guide</h3>
            <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p>
         </a>
         <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
               <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag "https://photos-3.dropbox.com/t/2/AABBtuXWt6MZmHMWq2w6Dw7D4ZQj_M-ho36IlCj9uqyAuQ/12/232995043/jpeg/32x32/1/_/1/2/colors.jpg/ELvnl8cBGO0HIAIoAg/yLMsUIQKiMUGfMWm-lpCxGgbdXtGTpDyXjp1jC_j1R4?size=1600x1200&size_mode=3" %> </div>
            <h3>Academy of Sciences  Newsletter</h3>
            <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p>
         </a>
      </div>
   </div>
</div>